#**LIBRARIES USED**

In [94]:
import pandas as pd
import numpy as np

In [95]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/My Drive/Data_Science/49.csv')
df.head()

#**INTRODUCTORY QUESTIONS**
## **1) ADDING PERCENTAGE COLUMN AND CALCULATION**

In [ ]:
df['Percentage'] = 0
df.head()

In [ ]:
for i in range(len(df)):
  df['Percentage'] = (df['math score']+df['reading score']+df['writing score'])/3
df.head()

##**2)DATA CLEANING**
### CHECKING NUMBER OF ROWS WITH NULL

In [ ]:
df.value_counts()

In [ ]:
df.count()

In [ ]:

a = df[df['parental level of education'].isnull()].index
a
df.drop(a)

####**We can see that in the column, parental level of education there exists a missing data value which needs to be deleted from the data set.**

####**BELOW THREE CODE CELLS WERE USED TO FIND THE RANGE OF VALUES USED IN THE DATASHEET**

In [ ]:
mx = df['math score'].max()
my = df['math score'].min()
print(my,mx)

In [ ]:
rx = df['reading score'].max()
ry = df['reading score'].min()
print(ry,rx)

In [ ]:
wx = df['writing score'].max()
wy = df['writing score'].min()
print(wy,wx)

In [ ]:
df[df['Percentage'].isnull()]

####**THE ABOVE CODE CELL CHECKS FOR NAN AND NULL VALUES. IT THEN CHANGES THESE VALUES TO 0. AFTER THIS STEP WE AGAIN CALCULATE THE PERCENTAGE FOR FURTHER CALCULATIONS**

In [106]:
df['math score'] = df['math score'].fillna(0)
df['reading score'] = df['reading score'].fillna(0)
df['writing score'] = df['writing score'].fillna(0)

In [ ]:
df[df['Percentage'].isnull()]

In [ ]:
#The range of marks in each subject is in between 20-120. Reason for deducting 20 marks in each subject
for i in range(len(df)):
  df['Percentage'] = (df['math score']+df['reading score']+df['writing score']-60)/3
df.head()

In [ ]:
df[df['Percentage'].isnull()].count

##**3)DISTRIBUTION OF READING SCORE**

In [ ]:
sns.set_style('whitegrid')
sns.distplot(df['reading score'], kde = False, color ='red', bins = 12)

####**The following bar graph shows that the distribution is left-skewed**
####**Formula: Skew = 3 * (Mean – Median) / Standard Deviation**
####Unique Properties:
1.   mean is typically less than the median
2.   the median is closer to the third quartile than to the first quartile

##**4)GRADING SYSTEM USING PERCENTAGE**

In [ ]:
df['Grade'] = 0
df.head()
df['Grade'].dtype

In [ ]:
df['Percentage'].dtype
df.head()

In [ ]:

df.loc[df.Percentage<=100,'Grade'] = "S"
df.loc[df.Percentage<=90,'Grade'] = "A"
df.loc[df.Percentage<=80,'Grade'] = "B"
df.loc[df.Percentage<=70,'Grade'] = "C"
df.loc[df.Percentage<=60,'Grade'] = "D"
df.loc[df.Percentage<=40,'Grade'] = "F"
df.head()

##**5)BAR CHART**

In [ ]:
plt.figure(figsize = (12,8))
sns.barplot(x = df['parental level of education'],hue = df['gender'], y = df['Percentage'])

#**TASK QUESTIONS**

##**1 a)USE SIMPLE RANDOM SAMPLING TO SAMPLE 100 STUDENTS**

In [145]:
sample_size1=100
s1=df.sample(sample_size1)
s1

     gender     race  ... Percentage Grade
841  female  group C  ...  64.666667     C
135  female  group C  ...  60.666667     C
26   female  group C  ...  66.333333     C
779  female  group A  ...  91.666667     S
995  female  group C  ...  77.000000     B
..      ...      ...  ...        ...   ...
446  female  group E  ...  77.666667     B
811  female  group E  ...  54.000000     D
94   female  group E  ...  92.666667     S
245  female  group E  ...  84.333333     A
724  female  group C  ...  50.666667     D

[100 rows x 10 columns]

##**b)STRATIFIED SAMPLING USING RACE AS A STRATA**

In [ ]:
s2=df.groupby('race',group_keys=False).apply(lambda x:x.sample(frac=0.1))
s2

##**c)FINDING MEAN AND SAMPLING ERROR CALCULATION**

In [ ]:
mean1 = s1['math score'].mean()
print('Mean of sample a: ',mean1)
mean2 = s2['math score'].mean()
print('Mean of sample b: ',mean2)

In [ ]:
true_value=df['math score'].mean()
true_value

In [ ]:
sample_error1=true_value-mean1
sample_error2=true_value-mean2
print('Error of sample a: ',sample_error1)
print('Error of sample b: ',sample_error2)

####*WE CAN SEE THAT SAMPLING ERROR OF SAMPLE b IS LOWER*

##**d)DISTRIBUTION PLOTTING**

In [ ]:
df['race'].value_counts(normalize=True).sort_values().plot(kind='bar')
plt.title("Bar plot for total population")
plt.show()

s1['race'].value_counts(normalize=True).sort_values().plot(kind='bar')
plt.title("Bar plot for sample a")
plt.show()

s2['race'].value_counts(normalize=True).sort_values().plot(kind='bar')
plt.title("Bar plot for sample b")
plt.show()

####*FROM THE ABOVE THREE GRAPHS WE CAN CONCLUDE THAT THE SAMPLING METHOD IN b IS BETTER THAN a AS THE VALUES WITH RESPECT TO 'RACE' ARE ALMOST SIMILAR*

#2)**BOXPLOT**

In [ ]:
df.boxplot(column=['math score'])
df['math score'].describe()

In [ ]:
Q1=df['math score'].quantile(.25)
Q3=df['math score'].quantile(.75)
IQR=Q3-Q1
((df['math score']< (Q1-1.5*IQR)) | (df['math score']>(Q3+1.5*IQR))).sum()

In [ ]:
df.boxplot(column=['reading score'])
df['reading score'].describe()

In [ ]:
Q1=df['reading score'].quantile(.25)
Q3=df['reading score'].quantile(.75)
IQR=Q3-Q1
((df['reading score']< (Q1-1.5*IQR)) | (df['reading score']>(Q3+1.5*IQR))).sum()

In [ ]:
df.boxplot(column=['writing score'])
df['writing score'].describe()

In [ ]:
Q1=df['writing score'].quantile(.25)
Q3=df['writing score'].quantile(.75)
IQR=Q3-Q1
((df['writing score']< (Q1-1.5*IQR)) | (df['writing score']>(Q3+1.5*IQR))).sum()

***Boxplot takes only one input(which has numerical value). Hence cannot be drawn against race or any other row***